* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tienne', serif;
}

h1{
    padding: 30px;
    font-size: 96px;
} 

.container {
    padding: 30px;
    display: flex;
}

.dragon-side {
    flex: 1;
    display:flex;
    align-items: baseline;
    gap: 10px;

}

.knight-side {
    flex: 1;
    display:flex;
    align-items: baseline;
    gap: 10px;
}

.versus {
    flex:1;
    text-align: center;
    font-size: 96px;
    color: red;
    font-weight: bold;
}

.frame {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0px 30px 0px 30px;
    justify-items: center;
    align-items: center;
}

.drg-side {
    flex:1;
}

.kng-side {
    flex:1;
    gap:20px;
}

.btn-container {
    flex:1;
    
}

.btn {
    background: #5B2F2F;
    color: white;
    font-size: 24px;
    border:none;
    width: 202px;
    height: 60px;
    margin-bottom: 64px;
}

.btn:hover {
    cursor: pointer;
}

.first-drg-line {
    margin-top: 26px;
    margin-bottom: 70px;
}

.second-drg-line {
    margin-bottom: 10px;
}

.combat-container {
    border-top: 1px solid black;
    margin: 0px 30px 0px 30px;
    display:none;
}

.combat-head {
    margin-top:20px;
}